<!DOCTYPE html>
<html xmlns:th="http://www.thyneleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div style="display: table; margin:auto; margin-top:200px; border: solid 1px black; width: 50%;">
    <form th:action="@{/searchLibro}">
        <span>Buscar por isbn:</span>
        <input type="text" th:name="search"/>
    </form>
    <br>
    <br>
    <span>Insertar o Actualizar Libro:</span>
    <br>
    <form th:action="@{/insertLibro}" th:object="${libro}">
        <input type="number" th:field="*{id}" hidden/>
        <span>ISBN:</span>
        <input type="text" th:field="*{isbn}"/>
        <span>FECHA</span>
        <input type="number" th:field="*{ano}"/>
        <span>Almacen_old</span>
        <input type="number" th:field="*{almacen_old}"/>
        <span>Almacen_new</span>
        <input type="number" th:field="*{almacen_new}"/>
        <input type="submit" value="Enviar datos"/>
    </form>
</div>

</body>
</html>