<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario pokemon</title>
</head>
<body>
  <form th:object="${nuevaPokemon}" th:action="@{/insertarPokemon}">
    <h3>Nombre</h3><input type="text" th:field="*{nombre}"><br>
    <h3>REGION</h3>
    <select th:field="*{region}">
      <option th:each="region : ${listaRegion}" th:value="${region.id}" th:text="${region.nombre}"></option>
    </select>

    <input type="submit" value="Enviar"/>
    <hr>
    <input type="submit">
  </form>
</body>
</html>