<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de pokemons</title>
</head>
<body>
    <table style="border:solid 2px; border-radius: 1px;">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Region</th>
        </tr>
        <tr th:each="pokemon : ${listaPokemons}">
            <td th:text="${pokemon.id}"></td>
            <td th:text="${pokemon.nombre}"></td>
            <td th:text="${pokemon.region}"></td>
            <td><a th:href="@{'/eliminarPokemon/'+${pokemon.id}}"><input type="button" value="Eliminar"></a></td>
        </tr>
    </table>
    <a th:href="@{/formPokemon}"><h3>Insertar una nueva mascota</h3></a>
    <a th:href="@{/}"><h3>Volver al índice</h3></a>

</body>
</html>